{% load url from future %}
{% load static %}
{% load tags %}

<html>
    <head>
        <title>I+D Project Manager</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.css" />
        <script src="{% get_static_prefix %}js/bootstrap.js" ></script>

    </head>
    <body>
            <div class="navbar">
              <a class="navbar-brand" href="/">I+D Otto Krause</a>
              <ul class="nav navbar-nav">
                <li class="{% active request "^/$" %}"><a href="/">Home</a></li>
                <li class="{% active request "^/projects/$" %}"><a href="/projects/">Projects</a></li>
                <li class="{% active request "^/projects/add/$" %}"><a href="/projects/add">Add project</a></li>
                <li class="{% active request "^/contact/" %}"><a href="/contact">Contact</a></li>
              </ul>
            </div>
        <div class="container">

        {% block content %}Empty page{% endblock %}

        <p><hr></p>

        <footer class="row">
            <div class="span6">
                <p><a href="https://github.com/dyve/django-bootstrap-toolkit">I+D Otto Krause</a></p>
            </div>
            <div class="span6" style="text-align:right">
                <p>
                    &copy; <a href="http://twitter.com/dyve">Denys Bulavka</a>
                </p>
            </div>
        </footer>

    </div>
    </body>
</html>