{% extends  "home/base.html"%}
{% load url from future %}
{% load static %}

{% block content %}
	{% if projectList %}
		<h1>Last projects</h1>
		<div class="row">
	    {% for project in projectList %}
				<div class="col-lg-3">
					<div class="thumbnail">
						<img data-src="holder.js/100%x180" alt="100%x180" src="{{ project.mainPhoto.url }}">
						<div class="caption">
							<h3>{{ project.name }}</h3>
							<p>.{{ project.description }}</p>
							<p><a href="{% url 'projects:detail' project.name %}" class="btn btn-primary">Read more</a> <a href="#" class="btn btn-default">Vote</a></p>
						</div>
					</div>
				</div>	
	    {% endfor %}
	    </div>
	{% else %}
	    <p>No project available.</p>
	{% endif %}
{% endblock %}