{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock%}
{% block content %}
  <h1>{{new.title}}</h1>
  <div>
  	<div class='header'>
  		<img src="{{new.portrait}}" style="max-height:300px">
  	</div>
  	<div >
  		<p class="text-muted">
			{{new.description}}
 		</p>
  	</div>
  </div>
{% endblock %}

