{% extends 'base.html' %}
{% block title %}- News{% endblock %}
{% block content %}
	<h2>News</h2>
	{% if perms.news.add_new %}
		<div><a href="{% url 'news:add'  %}" class="">Add new</a></div>
	{% endif %}
	{% include 'news/list.html' %}
{% endblock %}