{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% if newsList %}
		<div class="row">
		{% for new in newsList %}
			<div class="col-lg-3">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="100%x180" src="{{ new.portrait }}">
					<div class="caption">
						<h3>{{ new.title }}</h3>
						<p class="description">{{ new.description }}</p>
						<p><a href="{% url 'news:detail' new.pk %}" class="btn btn-primary" role="button">Read more</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<p>No news are available.</p>
	{% endif %}