{% extends 'base.html' %}
{% block title %}- About{% endblock %}
{% block content %}
<h2>Misión</h2>
<p>
 Contribuir a la labor integral de cada una de las diferentes especialidades de la institución fortaleciendo la enseñanza técnica para la búsqueda de la evolución y/o superación de los estándares actuales. Generar un espacio para la comunidad docente y el alumnado en la que pueda desarrollar y plasmar proyectos de innovación y desarrollo de manera sustentable. Promover a partir de las experiencias logradas propuestas y metodologías concretas a las diversas áreas encargadas de dicha función en la Institución. Que la institución tenga un Departamento Multidisciplinario de Investigación y Desarrollo, estando en la vanguardia de los avances técnico de manera activa en pos de la excelencia académica. Generar Sistemas de innovación y calidad, manuales de procedimientos etc. para poder replicar las experiencias. Auspiciar y despertar en el alumnado nuevas capacidades, que le permitan poder desenvolverse de manera competente tanto en el Mundo del Trabajo, como en el Académico. Colaborar con la actualización del plantel docente. Facilitar la enseñanza en las aulas, talleres y laboratorios a partir de la aplicación y resolución de problemas concretos. Generar vínculos interdisciplinarios internos permanentes, y con otras instituciones. Intentar aplicar y difundir los logros obtenidos, para el progreso y desarrollo de nuestra sociedad.</p>


<h2>Descripción</h2>
<p>
 Área de “Investigación y Desarrollo para la aplicación, difusión y transferencias de tecnologías Industriales”, que llamaremos simplemente “I+D”. Este nuevo ámbito busca convertirse en un espacio para la ciencia, técnica e innovación capaz de brindar a todos los miembros de la institución un fácil acceso a la capacitación y adaptación en nuevas tecnologías y sistemas, preparando a los alumnos para encarar de forma práctica y completa los desafíos impuestos por el mundo actual. Los principales objetivos que persigue este proyecto de departamento son el contribuir a la labor integral de cada una de las diferentes especialidades, generando un espacio donde plasmar proyectos o sistemas de innovación y calidad; despertar en el alumnado nuevas capacidades; facilitar la enseñanza en los talleres y laboratorios; colaborar con la actualización del plantel docente; generar vínculos permanentes interdisciplinarios y multidisciplinarios internos y con otras instituciones; y por último, aplicar y difundir los logros obtenidos en la sociedad toda.</p>
{%  endblock%}