{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}- Contact{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<form class="form-horizontal" role="form" action="{% url 'contact' %}" method="post" >{% csrf_token %}
						<fieldset>
							<legend>Envíanos tus comentarios</legend>

							<div class="form-group">
	    						<label for="inputNombre" class="col-sm-2 control-label">
	    							Nombre: 
	    						</label>
	    						<div class="col-sm-10">
	      							<input type="text" class="form-control" id="inputNombre" placeholder="Nombre" name="nombre_txt" required>
	    						</div>
	  						</div>

	  						<div class="form-group">
	    						<label for="inputEmail" class="col-sm-2 control-label">
	    							Email: 
	    						</label>
	    						<div class="col-sm-10">
	    							<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email_txt" required>
	    						</div>
	  						</div>

	  						<div class="form-group">
	    						<label for="inputTelefono" class="col-sm-2 control-label">
	    							Teléfono: 
	    						</label>
	    						<div class="col-sm-10">
	      							<input type="tel" class="form-control" id="inputTelefono" placeholder="Teléfono" name="telefono_txt">
	    						</div>
	  						</div>

							<div class="form-group">
	    						<label for="inputAsunto" class="col-sm-2 control-label">
	    							Asunto: 
	    						</label>
	    						<div class="col-sm-10">
	      							<input type="text" class="form-control" id="inputAsunto" placeholder="Asunto" name="asunto_txt" required>
	    						</div>
	  						</div>

							<div class="form-group">
	    						<label for="inputMensaje" class="col-sm-2 control-label">
	    							Mensaje: 
	    						</label>
	    						<div class="col-sm-10">
	    							<textarea id="inputMensaje" class="form-control" placeholder="Mensaje" cols="31" rows="5" style="resize: none" name="mensaje_txa" required></textarea>
	    						</div>
	  						</div>

	  						<div class="form-group">
	    						<div class="col-sm-offset-2 col-sm-10">
	      							<button type="submit" class="btn btn-default" name="enviar_btn">
	      								Enviar
	      							</button>
	    						</div>
	  						</div>
						</fieldset>
					</form>
					<h4></h4 >				</div>
				<div class="col-md-5 col-xs-12 text-center">
					<h3>Contáctate con nosotros: </h3>
					<a href="http://www.facebook.com/UsinaJ.Newbery" title="Síguenos en Facebook">
						<img src="{% static 'images/facebook.png' %}">
					</a>
					&nbsp;
					<a href="http://www.youtube.com/user/imasdottokrause" title="Suscríbete">
						<img src="{% static 'images/youtube.png' %}">
					</a>
					&nbsp;
					<a href="http://vimeo.com/imasdottokrause" title="Suscríbete">
						<img src="{% static 'images/vimeo.png' %}">
					</a>
					<hr>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1641.7830353076329!2d-58.36882297301953!3d-34.61513269932877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4288dffa06505e8!2sFundacion+Otto+Krause!5e0!3m2!1ses-419!2sar!4v1389054005590" width="500" height="250" frameborder="0" style="border:0"></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}