{% extends 'base.html' %}
{% block title %}- Home{% endblock %}
{% block content %}
	<h2>Last projects</h2>
	{% include 'projects/list.html' %}
	<h2>Last news</h2>
	{% include 'news/list.html' %}
	<h2>Last videos</h2>
	{% include 'videos/list.html' %}
{% endblock %}