{% load staticfiles %}
<html>
	<head>
	<title>Usina J. Newbery {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" media='screen'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media='screen'>
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" media='screen'>
	<![endif]-->
	<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	<script src="{% static 'js/bootstrap.js' %}" ></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block header %}{% endblock %}
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand" href="{% url 'home' %}">Usina J. Newberry</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'projects:index'  %}">Projects</a></li>
				<li><a href="{% url 'news:index'  %}">News</a></li>
				<li><a href="{% url 'videos:index'  %}">Videos</a></li>
				<li><a href="{% url 'about'  %}">About</a></li>
				<li><a href="{% url 'contact'  %}">Contact</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout'  %}" class="">Logout</a></li>
				{% else %}
					<form class="navbar-form navbar-left" method="post" action="{% url 'login' %}">{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username" name="username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password">
						</div>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class='container'>
		{% block content %}{% endblock %}
		<p><hr></p>

		<footer class="row">
			<div class="span6">
			<p><a href="https://github.com/dyve/django-bootstrap-toolkit">Usina J. Newberry</a></p>
			</div>
			<div class="span6" style="text-align:right">
			<p>
			    &copy; <a href="http://twitter.com/dyve">Denys Bulavka</a>
			</p>
			</div>
		</footer>
    </div>
	</body>
</html>