{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript">
		$(function() {
            $(".inline.{{ picture_form.prefix }}").formset({
                prefix: "{{ picture_form.prefix }}",
            })
        })
	</script>
{% endblock %}
{% block content %}
<div>
        <h1>Add Project</h1>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Project pictures</legend>
                {{ picture_form.management_form }}
                {{ picture_form.non_form_errors }}
                {% for form in picture_form %}
                    {{ form.id }}
                    <div class="inline {{ picture_form.prefix }}">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Add project" class="submit" />
        </form>
    </div>
{% endblock %}