{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
	<script type="text/javascript" src="{% static 'js/jquery.rss.js' %}"></script>
	<script type="text/javascript">
		jQuery(function($) {
        $("#rss-feeds").rss("{{ project.repository }}/rss");
        $("#repository").click(function(){window.location.href = '{{ project.repository }}';});
      })
	</script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
  <h1>{{project.title}}</h1>
  <div>
  	<div class='header'>
  		<img src="{{project.portrait}}" style="max-height:300px">
  	</div>
  	<div >
  		<p class="text-muted">
			{{project.description}}
 		</p>
  	</div>
  </div>
  <div class='clear'></div> 
<button type="button" class="btn btn-info" id="repository">Repository</button>
<div id="rss-feeds"></div>
{% endblock %}

