{% extends 'base.html' %}
{% block title %}- Projects{% endblock %}
{% block content %}
	<h2>Projects</h2>
	{% if perms.projects.add_project %}
		<div><a href="{% url 'projects:add'  %}" class="">Add project</a></div>
	{% endif %}
	{% include 'projects/list.html' %}
{% endblock %}