{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% if projectsList %}
		<div class="row">
		{% for project in projectsList %}
			<div class="col-lg-3">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="100%x180" src="{{ project.portrait }}">
					<div class="caption">
						<h3>{{ project.title }}</h3>
						<p class="description">{{ project.description }}</p>
						<p><a href="{% url 'projects:detail' project.pk %}" class="btn btn-primary" role="button">Read more</a></p>

					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<p>No projects are available.</p>
	{% endif %}