{% extends  "home/base.html"%}
{% load url from future %}
{% load static %}

{% block content %}
	{% if project %}
		<h1>Name: {{project.name}}</h1>
		<h3>Repository: {{project.repository}}</h3>
		<div class="well">
			Description: {{project.description}}
		</div>
	{% endif %}
	{% if documents %}
        <div class="row">
        {% for document in documents %}
        	<div class="col-lg-3">
				<a href="#" class="thumbnail">
					<img data-src="holder.js/100%x180" alt="" src="{{ document.docfile.url }}">
				</a>
			</div>
        {% endfor %}
        </div>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
{% endblock %}