{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% endblock%}
{% block content %}
  <h1>{{video.title}}</h1>
  <div>
  	<div class='header'>
  		{% autoescape off %}
    		{{video.embedded}}
		{% endautoescape %}
  	</div>
  	<div >
  		<p class="text-muted">
			{{video.description}}
 		</p>
  	</div>
  </div>
{% endblock %}

