{% extends 'base.html' %}
{% block title %}- Videos{% endblock %}
{% block content %}
	<h2>Videos</h2>
	{% if perms.videos.add_video %}
		<div><a href="{% url 'videos:add'  %}" class="">Add video</a></div>
	{% endif %}
	{% include 'videos/list.html' %}
{% endblock %}