{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% if videosList %}
		<div class="row">
		{% for video in videosList %}
			<div class="col-lg-3">
				<div class="thumbnail">
					<img data-src="holder.js/100%x180" alt="100%x180" src="{{ video.portrait }}">
					<div class="caption">
						<h3>{{ video.title }}</h3>
						<p class='description'>{{ video.description }}</p>
						<p><a href="{% url 'videos:detail' video.pk %}" class="btn btn-primary" role="button">Read more</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<p>No videos are available.</p>
	{% endif %}